@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
  font-family: 'poppins', sans-serif;
}

*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Custom Scrollbar */

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #e5e5e5;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 90px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}
